// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.pros {
  .pros-modal {
    padding: 10px;
  }

  .file-picker button {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .file-picker button span:before {
    margin-right: 0;
  }

  select.form-control {
    color: @text-color;
    border-color: @button-border-color;
    background-color: @button-background-color;
    &:hover,
    &:focus {
      box-shadow: none;
      background-color: @button-background-color-hover;
    }
  }

  .drop {
    text-align: center;
  }

  .interstitial {
    display: inline-block;
  }

  .select-container {
    display: flex;
    align-items: stretch;
  }

  ul.list-templates {
    padding: 0;
    list-style-type: none;

    .template-listing {
      display: flex;
      label.label {
        margin-right: 10px;
        margin-bottom: 0;
        padding-top: 5px;
      }
    }
  }

  .btn-container {
    padding: 10px;
  }

  .is-invalid {
    border-color: @background-color-error;
    box-shadow: 0 0 0 2px @background-color-error;
    background-color: @app-background-color;
    border-radius: 3px;
    outline: none;
  }
}
